# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Conda
conda-meta/
*.conda/
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Outputs: 只忽略预测生成的 CSV 结果文件
ECRFS_output/**/*.csv

# OS
Thumbs.db
.DS_Store
